:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: #fafafa;
  /* background-color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  /* min-width: 100vw;
  min-height: 100vh; */
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 320px;
  padding-top: 80px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff4e4e;
  border-radius: 8px;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms ease;
  width: 120px;
  height: 40px;
}

.nav-item:hover,
.nav-item:focus {
  background-color: #ff7070;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}