.form {
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.form label {
    font-size: 16px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form input[type="number"] {
    padding: 8px;
    border: 2px solid #4a90e2;
    border-radius: 6px;
    font-size: 16px;
    width: 320px;
}

fieldset {
    border: 2px solid #4a90e2;
    border-radius: 6px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    width: 320px;
    /* padding: 14px 48px 8px; */
    margin-bottom: 24px;
}

legend {
    font-weight: bold;
    color: #4a90e2;
    text-align: start;
}

fieldset label {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    gap: 8px;
    font-size: 14px;
    color: #555;
    flex-direction: row !important;
}

button[type="submit"] {
    padding: 10px 15px;
    font-size: 16px;
    /* background-color: #4a90e2; */
    background-color: #4e75ff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 320px;
}

button[type="submit"]:hover {
    /* background-color: #357ab8; */
    background-color: #6c8cff;
}